#
# Copyright 2022 The Dapr Authors
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: conformance-test

env:
  # Version of Go
  GOVER: "1.19"
  # Component socket Path
  DAPR_COMPONENT_SOCKET_PATH: /tmp/socket.sock

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - component: pubsub.redis
            type: pubsub
            cmd: go run examples/pubsub.redis/main.go &
            dependencies: [go, redis]
            test_config: |
              checkInOrderProcessing: false
            metadata: |
              redisHost: localhost:6379
              redisPassword: ""
              consumerID: "testConsumer"
              processingTimeout: 5s
              redeliverInterval: 1s
              concurrency: 1
          - component: pubsub.kafka
            type: pubsub
            cmd: go run examples/pubsub.kafka/main.go &
            dependencies: [go, kafka]
            metadata: |
              brokers: localhost:9092
              consumerGroup: pubsubgroup1
              authRequired: "false"
              initialOffset: oldest
          - component: state.redis
            type: state
            cmd: go run examples/state.redis/main.go &
            dependencies: [go, redis]
            metadata: |
              redisHost: localhost:6379
              redisPassword: ""
              queryIndexes: |
                [
                  {
                    "name": "qIndx",
                    "indexes": [
                      {
                        "key": "message",
                        "type": "TEXT"
                      }
                    ]
                  }
                ]
          - component: Redis Docker
            dependencies: []
            type: state
            cmd: docker-compose -f ./.github/infrastructure/docker-compose-redis.yaml -p redis up -d
            metadata: |
              redisHost: redis:6379
              redisPassword: ""
              queryIndexes: |
                [
                  {
                    "name": "qIndx",
                    "indexes": [
                      {
                        "key": "message",
                        "type": "TEXT"
                      }
                    ]
                  }
                ]

    runs-on: ubuntu-latest
    steps:
      - name: setup go
        if: contains(matrix.dependencies, 'go')
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOVER }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run Redis Container
        if: contains(matrix.dependencies, 'redis')
        shell: bash
        run: docker run -d -p 6379:6379 -e REDIS_REPLICATION_MODE=master redislabs/rejson:2.0.6

      - name: Run Kafka Container
        if: contains(matrix.dependencies, 'kafka')
        shell: bash
        run: docker-compose -f ./.github/infrastructure/docker-compose-kafka-only.yaml -p kafka up -d

      - name: Run ${{matrix.component}} component
        shell: bash
        run: ${{ matrix.cmd }}

      - name: Wait for socket
        shell: bash
        run: |
          until [ -S ${{ env.DAPR_COMPONENT_SOCKET_PATH }} ]
          do
              sleep 5
              echo ">>> waiting for socket creation... sleeping"
          done

      - name: Conformance Tests
        uses: mcandeia/action-dapr-conformance-tests@v1
        with:
          socket: ${{ env.DAPR_COMPONENT_SOCKET_PATH }}
          type: ${{ matrix.type }}
          metadata: ${{ matrix.metadata }}
          operations: ${{ matrix.operations }}
          test_config: ${{ matrix.test_config }}
