#
# Copyright 2022 The Dapr Authors
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: conformance-test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - component: redis
            type: state
            cmd: DAPR_COMPONENT_SOCKET_PATH=/tmp/socket.sock go run examples/redis/main.go &
            dependencies: [redis]
            metadata: |
              redisHost: localhost:6379
              redisPassword: ""
              queryIndexes: |
                [
                  {
                    "name": "qIndx",
                    "indexes": [
                      {
                        "key": "message",
                        "type": "TEXT"
                      }
                    ]
                  }
                ]
          - component: memory
            dependencies: []
            cmd: DAPR_COMPONENT_SOCKET_PATH=/tmp/socket.sock go run examples/memory/main.go &
            type: state
            operations: |
              - get
              - set
              - etag
          - component: Redis Docker
            dependencies: [redis]
            type: state
            cmd: docker run -d -it --env DAPR_COMPONENT_SOCKET_PATH=/tmp/socket.sock -v /tmp:/tmp ghcr.io/mcandeia/redis-pluggable-component:latest
            metadata: |
              redisHost: localhost:6379
              redisPassword: ""
              queryIndexes: |
                [
                  {
                    "name": "qIndx",
                    "indexes": [
                      {
                        "key": "message",
                        "type": "TEXT"
                      }
                    ]
                  }
                ]

    runs-on: ubuntu-latest
    steps:
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.19.0"

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run Redis Container
        if: contains(matrix.dependencies, 'redis')
        shell: bash
        run: docker run -d -v /tmp:/tmp -p 6379:6379 -e REDIS_REPLICATION_MODE=master redislabs/rejson:2.0.6

      - name: Run ${{matrix.component}} component
        shell: bash
        run: ${{ matrix.cmd }}

      - name: Wait for socket
        shell: bash
        run: |
          until [ -S /tmp/socket.sock ]
          do
              sleep 5
              echo ">>> waiting for socket creation... sleeping"
          done

      - name: Conformance Tests
        uses: mcandeia/action-dapr-conformance-tests@v1
        with:
          socket: /tmp/socket.sock
          type: ${{ matrix.type }}
          metadata: ${{ matrix.metadata }}
          operations: ${{ matrix.operations }}
